.container{
    display:grid;
    gap: 20px;
    grid-template: max-content calc(100vh) / max-content minmax(600px, 1fr);
    padding-right: 20px;
}
.card-block{
    /* display:grid; */
}
.sidebar{
    display:grid;
    grid-area: 1 / 1 / 4 / 2;
    grid-auto-rows:max-content;
    grid-template-rows: max-content;
    grid-template-columns: max-content;
    grid-template-areas: none;
    row-gap: 15px;
    padding:25px;
    background-color: purple;;
}
.header{
    grid-area: 1 / 2 / 2 / 4;
    background-color: green;
    display:grid;
    grid-template-rows: max-content;
    grid-template-columns: 1fr max-content;
    grid-template-areas: none;
}
.main-content{
    grid-area: 2 / 2 / 4 / 4;
    display:grid;
    grid-template: max-content / 1fr 300px;
    width: fit-content;
    
}
#card-block{
    display:grid;
    gap:15px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;

}
.card{
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: max-content;
    background-color: blue;
    width: fit-content;

}
.divider{
    background-color: grey;
    height: 1px;
    width: 100%;
}
.searchlinks{
    display:flex;
}
li{
    list-style-type: none;
    margin-left:.5em;
    margin-right:.5em;
}
.bottom-block{
    margin-top: 50px;
    display:grid;
    row-gap: 15px;
}   